<html>
    <head>
    <title>mmm output</title>
</head>
<body style="background-color:rgb(80,150,0);">
    <style>
        table, th, td {
            border:1px solid black;
            width:33%;
            margin-left: auto;
            margin-right: auto;
          }
        h2 {text-align: center;}
        h3 {text-align: center;}
        div {text-align: center;
            font-weight: bold;}
        input {text-align: center;}
    </style>
<center>
{% if y %}
<h1>Contribution of each advertisement to sales</h1>
{% endif %}

<img src="data:image/png;base64, {{saturation|safe}}", height="600", width="800"><br>
{{sat_point|safe}}<br>
<img src="data:image/png;base64, {{area_plot|safe}}", height="600", width="800"><br>

<img src="data:image/png;base64, {{tuned_area_plot|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{imp_feature|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{tv_carry|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{radio_carry|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{Social_Media_carry|safe}}", height="600", width="800"><br>
{% if y %}
    <h1>Contribution of each advertisement to sales with saturation and carryover effect</h1>
<img src="data:image/png;base64, {{y|safe}}", height="600", width="800">
{% endif %}
    
{% if carry %}
    <h1>Contribution of each advertisement to sales with saturation and carryover effect</h1>
<img src="data:image/png;base64, {{z|safe}}", height="600", width="800">
{{z|safe}}
{% endif %}    
<div style="width: 450px; height: 500px; overflow-y: scroll;overflow: auto;">
</div>
</center>
</body>
</html>
