<html>
    <head>
    <title>mmm output</title>
</head>
<body style="background-color:rgb(80,150,0);">
    <style>
        table, th, td {
            border:1px solid black;
            width:33%;
            margin-left: auto;
            margin-right: auto;
          }
        h2 {text-align: center;}
        h3 {text-align: center;}
        div {text-align: center;
            font-weight: bold;}
        input {text-align: center;}
    </style>
<center>

<img src="data:image/png;base64, {{saturation|safe}}", height="600", width="800"><br>

{% for i in sat_point %}
{{i}}<br>
{% endfor %}

{{tv_column}}
{{radio_column}}
{{Social_Media_column}}

<h1>Contribution of each advertisement to sales</h1>

<img src="data:image/png;base64, {{area_plot|safe}}", height="600", width="800"><br>

<h1>Contribution of each advertisement to sales with saturation and carryover effect</h1>

<img src="data:image/png;base64, {{tuned_area_plot|safe}}", height="600", width="800"><br>
    
<h1>According to the data the importance of each advertisement channels are shown
 in the bar graph</h1>

<img src="data:image/png;base64, {{imp_feature|safe}}", height="600", width="800"><br>
 
<h1>TV Radio and Social Media may have a carry over effect
Individually. This is shown through this graphs below.</h1>
   
<img src="data:image/png;base64, {{tv_carry|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{radio_carry|safe}}", height="600", width="800"><br>
    
<img src="data:image/png;base64, {{Social_Media_carry|safe}}", height="600", width="800"><br>

<h1>This Is the whole analysis of the dataset. Thanks. </h1>

<div style="width: 450px; height: 500px; overflow-y: scroll;overflow: auto;">
</div>
</center>
</body>
</html>
