<!DOCTYPE html>
<html>
<head>
	<style>
		
		.div1
		{
			background-color:#F16C59;
			height:240px;	
			color:black;
			text-shadow: 1px 2px blue;
		}
		
		h2
		{
			
		}
		
		.heading
		{
			color:rgb(1200,300,0);
		}
		
		li
		{
			color:white;
		}
		
		.objective
		{
			color:rgb(1200,1200,70);
		}
		
		th
		{
			font-size:120%;
		}
		
	</style>
    <title>CURRICULAM VITAE</title>
</head>

<body style="background-color:#2C316F">

	<div class="div1">
	<a href="https://ibb.co/H4LvFtm"><img src="https://i.ibb.co/LRDwkx4/dp.jpg" alt="dp"  width="200" height="239" style="float:left" border="0"></a>
		<h1 align="center">Name: Bhargab Ganguli</h1>
		<h2 align="center">ADRESS:Uttarayan, C.P road, Nimta, Kolkata-700049</h2>
		<h2 align="center">DOB:11-04-2004</h2>
		<h2 align="center">Trade:Electronics and Instrumentation</h2>
		<h2 align="center">contact:+917003226340	&emsp; &emsp; &emsp; &emsp; &emsp; email: <a href="mailto:bhargab.ganguli@gmail.com" >bhargab.ganguli@gmail.com</a></h2>
		<h2 align="right"></h2>
	</div>
	<h2 class="heading">A) EDUCATIONAL  QUALIFICATION (GENERAL):- </h2>
	<center>
		<table bgcolor=#ffb3b3  border=8px class="table1">
			<tr>
				<th>Name of the board</th>
				<th>WBBSE</th>
			</tr>
			<tr>
				<th>Name of the Institute</th>
				<th>Rahara Ramakrishna Mission Boys' Home High School</th>
			</tr>
			<tr>
				<th>Examination passed</th>
				<th>Madhyamik</th>
			</tr>
			<tr>
				<th>Year of passing</th>
				<th>2020</th>
			</tr>
			<tr>
				<th>Subject taken</th>
				<th>Ben,eng,math,psc,lsc,hist,geo</th>
			</tr>
			<tr>
				<th>Result</th>
				<th>91.7%</th>
			</tr>
		</table>
	</center>


	<h2 class="heading">B) EDUCATIONAL  QUALIFICATION (PROFESSIONAL):- </h2>
	<center>
		<table bgcolor=#ffb3b3  border=8px>
			<tr>
				<th>Name of the institute</th>
				<th>Data Brio Academy</th>
			</tr>
			<tr>
				<th>Course</th>
				<th>Data vizualization and analysis</th>
			</tr>
			<tr>
				<th>Year</th>
				<th>2021</th>
			</tr>
		</table>
	</center>		
	<h2 class="heading">C)	EXTRA  CURRICULAR  ACTIVITIES :-</h2>
		<ul>
			<h3>
				<li>Recitation</li>
				<br>
				<li>Playing Violin</li>
			</h3>
		</ul>
	
	<h2 class="heading">D)	CAREER  OBJECTIVES :- </h2>
	<h2 class="objective">  To work in an organisation which provides me with ample opportunities 
							to enhance my skills and knowledge along 
							with contributing to the growth of the organisation.
	</h2>
</body>
</html>