<html>
    <head>
        <title>Upload</title>
    </head>
     <script type="text/javascript"> 

        function preventBack() { 

            window.history.forward();  

        } 

          

        setTimeout("preventBack()", 0); 

          

        window.onunload = function () { null }; 

    </script> 
    <body style="background-color:rgb(80,110,0)">
        <style>
        table{
            height:30%;
            width:60%;
            margin-left: auto;
            margin-right: auto;
        }

        th, td {
            border:1px solid black;
            height:10%;
            width:10%;
            margin-left: auto;
            margin-right: auto;
          }
        </style>
        <h1>Upload such .csv file which has the following structure</h1>

        <table summary="no_orderDate" bgcolor=#ffb3b3>
        <tr>
            <td>date</td>
            <td>TV</td>
            <td>Radio</td>
            <td>Social_Media</td>
            <td>Total_Sales</td>
            
        </tr>
        </table>
        <br>
        <form method="POST" action="/submit" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myFile"><br>
            <input type="submit" name="submit">
            Enter budget
            <input name="budget" type="text" value=10000><br><br>
        </form>

    </body>
</html>
